@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.meetings-table {
    width: 99.7%;
    margin-top: 1px;
    margin-bottom: 3px;
}

tr,
th,
td {
    padding: 8px;
    border: 1px solid;
    font-family: Arial;
    text-align: center;
}

th {
    background-color: #2d3748;
    color: white;
    font-size: 15px;
}

td {
    background-color: #6b7271;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.th-functions {
    font-size: 21px;
}

.global-font
{
    font-size: 11px;
}