@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.meetings-table {
    width: 99.7%;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}

tr,
th,
td {
    padding: 8px;
    border: 1px solid;
    font-family: Arial;
    text-align: center;
}

th {
    background-color: #2d3748;
    color: white;
    font-size: 15px;
}

td {
    background-color: #6b7271;
    color: white;
    font-size: 14px;
    font-family: Arial;
}

.th-functions {
    /* width: 200px;    */
    /* padding: 0%; */
    font-size: 21px;
}

/* .global-font
{
    font-size: 11px;
} */
/* 
.add-ticket-button {
    background-color: darkgreen;
    color: white;
    margin-left: 1%;
    margin-top: 2px;
    margin-bottom: 6px;
    padding-top: 0.7%;
    padding-bottom: 0.5%;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    border: 1px solid;
    border-color: black;
    font-weight: bold;
    font-size: 20px;
} */

/* .ticket-details-button {
    background-color: #1434A4;
    color: white;
    padding: 4%;
    display: inline-block;
    border: 1px solid;
    border-color: black;
    font-weight: bold;
    font-size: 23px;
}

.edit-ticket-button {
    background-color: #2E8B57;
    color: white;
    padding: 4%;
    display: inline-block;
    border: 1px solid;
    border-color: black;
    font-weight: bold;
    font-size: 23px;
}

.delete-ticket-button {
    background-color: #990000;
    color: white;
    margin-left: 1%;
    padding: 4%;
    display: inline-block; 
    border: 1px solid;
    border-color: black;
    font-weight: bold;
    font-size: 23px;
} */